.main-container {
  display: flex;
}
.profile-container {
  width: 70%;
  padding-right: 15px;
}
.pages-footer {
  width: 30%;
}
.wrapperDiv {
  background-color: #dae0eb;
  padding: 20px 50px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .profile-container {
    width: 100%;
  }
  .pages-footer {
    width: 100%;
  }
  .wrapperDiv {
    padding: 5px;
  }
}
